body{
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

*{
box-sizing: border-box; /* Width and height apply to all parts of the element: content, padding and borders: and no extra width is added*/
}
.container{
	
}
.row{
	max-width: 1340px;
	/*background-color: yellow;*/
	margin: auto;
	display: flex; /* for making rectangular boxes */
	flex-wrap: wrap; /* multi-lines, direction is defined by flex-direction */
}

header{
	position: absolute;
	left: 0px;
	right: 0px;

	border-bottom: 2px solid #423940
}
	
	
header .row{
justify-content: space-between; /* there is no space at the end just in between */  
align-items: center;
}
header .brand-name a {
	position: relative;
	text-decoration: none;
	font-size: 25px;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
     
padding-left: 20px;
}
header .brand-name a:hover {
color:#3399FF;	
}

header .navbar ul  {
list-style: none;
padding: 0;
margin-right: 0px;

}
header .navbar ul li {
display: inline-block;  /* use this for text where u want to control the height */  
margin-left: 50px;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;


}
header .navbar ul li a {
font-size: 20px;
text-decoration: none;
border-spacing: -15px;
font-family: 'Raleway', sans-serif;
position: relative;
display: inline-block;

line-height: 25px;
margin: 0px -10px 0px -13px;
cursor: pointer;
transition: 0.3s ease-in;
color: #fff9e6;
padding: 10px 10px;

}
header .navbar ul li a:hover {
	background-color: white;
	color: black;
	border-radius: 5px;
}
.home{

	min-height: 105vh;
	background-image: url("assets/images/cheddar.jpg");
	background-size:cover; 
}
.home .row{
	
	min-height: 100vh;
}
.home .home-content {
	max-width: 100%
	flex: 0 0 100%;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	color: #ffffff;
}
.home .home-content .block {
	max-width: 75%
	flex: 0 0 75%; /* it will cover 75% of it and 0 0 depicts no glow and no shrink*/
	left: 30px;
	padding-left: 90px;
	margin-top: 50px;

}
.home .home-content .block h1:hover {
	color:#3399FF;
	}
	.home .home-content .block h2:hover {
	color:#F94141;
	}
	.home .home-content .block h6:hover {
	color:#F94141;
	}
.home .home-content .block h6{
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Playfair Display', serif;
	margin: auto;
	padding: 0;
}
.home .home-content .block h1{
	color: #ffffff;
	font-size: 58px;
	font-weight: 500;
	
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
.home .home-content .block h2{
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
.home .home-content .block .cv a {
border-radius: 4px;
font-family: 'Playfair Display', serif;
padding: 13px 24px;
color: white;
display: inline-block;
font-size: 15px;
font-weight: 550;
border: 1px solid #ffffff ;
transition: all ease .5s
background-color: transparent;
}
.home .home-content .block .cv a:hover {
	background-color: #ffffff;
	color:#000000;
}
.home .home-content .block .cv  {
	padding-top: 10px;
}
li a {
	opacity: 0;
	display: inline-block;
	animation: animate 1s linear forwards;
}
@keyframes animate {
	0%
	{
		opacity: 0;
		transform: rotateY(90deg);
		filter:blur(10);
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg);
	}
}
/* About me */
.about-me{
	padding: 100px 15px;
}
.about-me .section-title{
	
	flex:0 0 100%;
	max-width: 100%;
	font-family: 'Playfair Display', serif;
}
.about-me .section-title h1{
padding-bottom: 5px;
display: inline-block;
font-size: 35px;
text-transform: uppercase;
margin:0 0 10px;
color:#000000;
position:relative;
}
.about-me .section-title h1:before{
	content:'';
	left:0;
	right:30%;
	bottom:0;
	height: 2px;
	background-color:yellow;
	position: absolute;
}
.about-me .section-title p.small{
font-size: 15px;
color:#838383;
display: block;
font-weight: 500;
}
